apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: argodemo
  name: argodemo
spec:
  replicas: 4
  selector:
    matchLabels:
      app: argodemo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: argodemo
    spec:
      containers:
      - image: 8946855548/argov2:39
        name: argodemo
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
  labels:
    app: lb-service
spec:
  type: LoadBalancer
  ports:
  - port: 9090
    targetPort: 5000
  selector:
    app: argodemo
